body{
    background-image: url("picter/a1.jpg");
}
h1{
    color: orange;
}
div#explain{
      width: 600px;
}
div#quiz{
    width: 600px;
    height: 700px;
    background: #fffefe;
    border: 1px solid;
    text-align: center;
    margin-left: 30%;


}
div#question{
    height: 50px;
    color: darkorange;

}
div#explain{
    height: 70px;


}
div#picter{
    height: 300px;

}
button.button{
    margin-top: 20px;
    border: 1px solid;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 200px;
    height: 35px;
}

.button:hover {
    background-color: #241f22;
    color: cornsilk;
}
