body{
    background-image: url("picter/backgrok1.jpg");
}
h1{
    color: orange;
    font-size: 60px;
}
div#quiz{
    width: 600px;
    height: 600px;
    background: #fffefe;
    border: 1px solid;
    text-align: center;
    margin-left: 30%;
}
div#question{
    height: 70px;
    color: darkorange;
    font-size: 20px;
}
div#explain{
    height: 30px;
}
#picter{
    height: 200px;
}
#icon{
   width: 60px;
    display: flex;
}
.music{
    margin-left: 90%;
}
button.button{
    margin-top: 20px;
    border: 1px solid;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 200px;
    height: 35px;
}

.button:hover {
    background-color: #241f22;
    color: cornsilk;
}
